<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Loan Department">

<test name="All Test Case">
	<classes>
		<class name="testNG.TestNG"></class>
		<class name="testNG.TestNG_2"></class>
		<class name="testNG.TestNG_3"></class>
		<class name="testNG.TestNG_4"></class>
		<class name="testNG.TestNG_5"></class>
	</classes>
</test>

	<!-- <listeners> <listener class-name="testNG.Listeners"></listener> </listeners> -->

	<!-- <test name="Personal Loan"> <classes> <class name="testNG.TestNG" /> 
		<class name="testNG.TestNG_2" /> </classes> </test> -->


	<!-- <test name="Car Loan Department"> <classes> <class name="testNG.TestNG_3"> 
		<methods> <exclude name="MobileCarLoan" /> </methods> </class> -->
	<!-- <class name="testNG.TestNG_3"> <methods> <exclude name="Mobile.*"></exclude> 
		</methods> </class> </classes> </test> -->

	<!-- <test name="Bike Loan Department"> <classes> <class name="testNG.TestNG_4"> 
		<methods> <include name="MobileBikeLoan"></include> </methods> </class> </classes> 
		</test> -->

</suite>
